.main{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 140%;
text-align: center;
}
.box{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 18px;
gap: 10px;
background: #F2F0FE;
}
.footer{
    display: flex;
    text-align: center;
    align-items: center;
}